<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4">

    <display-name>Your Webapp</display-name>
    <description>Webapp created with ApplicationServerProject Stub</description>

    <servlet>
        <description><![CDATA[A demo servlet that renders a template showing the current uri requested]]></description>
        <display-name>DemoServlet</display-name>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>\TechDivision\Example\Servlets\DemoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>